streamlit
pandas
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.1+cpu
transformers==4.38.2
sentence-transformers==2.5.1
accelerate
sentencepiece
pymupdf
python-docx
sqlalchemy
huggingface-hub
llama-cpp-python==0.2.77